@import url("https://fonts.googleapis.com/css?family=Merriweather|Six+Caps");
/* Google Fonts */
body {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  font-weight: 300;
  color: #252525;
  line-height: 1.6;
  display: grid;
  grid-template-rows: 10em 50vh auto 10em;
  grid-template-columns: 1fr minmax(30em, 5fr) minmax(15em, 2fr) 1fr;
  grid-template-areas: "header header header header" "hero hero hero hero" ". main sidebar ." "footer footer footer footer";
  grid-column-gap: 1.5em; }

header {
  grid-area: header; }

header, footer {
  background: #252525;
  color: #e9d20f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-title,
.footer-title {
  font-family: "Six Caps", sans-serif;
  font-size: 3.75rem;
  color: #e9d20f;
  text-transform: uppercase;
  letter-spacing: 0.3em; }

.hero {
  grid-area: hero;
  background: url("../img/gridarea-hero-bg.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.hero-title {
  font-family: "Six Caps", sans-serif;
  font-size: 6rem;
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0; }

.hero-subtitle {
  font-family: "Merriweather", serif;
  font-size: 2.875rem;
  font-weight: 300;
  color: #fff;
  margin: 0; }

main {
  grid-area: main; }

aside {
  grid-area: sidebar;
  background-color: #e8e8e8;
  padding: 2em; }

footer {
  grid-area: footer; }

.card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: -webkit-min-content auto;
  grid-template-rows: min-content auto;
  grid-template-areas: "img title" "img content";
  /* Shorthand:
    grid-template:
    "img title" min-content
    "img content" auto / 1fr 3fr;
    */
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  padding: 1em;
  margin-bottom: 1.5em; }

.card-img {
  grid-area: img;
  max-width: 100%; }

.card-title {
  margin: 0;
  grid-area: title; }

.card-content {
  grid-area: content; }
  .card-content a {
    color: #e9d20f;
    font-size: 1.1em; }
/*# sourceMappingURL=style.css.map */