@import url("https://fonts.googleapis.com/css?family=Merriweather|Six+Caps");

body {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  font-weight: 300;
  color: #252525;
  line-height: 1.6;
}

header {
}

header, footer {
  background: #252525;
  color: #e9d20f;
}

.header-title,
.footer-title {
  font-family: "Six Caps", sans-serif;
  font-size: 3.75rem;
  color: #e9d20f;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.hero {
  background: url("../img/gridarea-hero-bg.jpg");
}

.hero-title {
  font-family: "Six Caps", sans-serif;
  font-size: 6rem;
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0;
}

.hero-subtitle {
  font-family: "Merriweather", serif;
  font-size: 2.875rem;
  font-weight: 300;
  color: #fff;
  margin: 0;
}

main {
  /* Code goes here */
}

aside {
  background-color: #e8e8e8;
  padding: 2em;
}

footer {
    /* Code goes here */
}

.card {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  padding: 1em;
  margin-bottom: 1.5em;
}

.card-img {
  max-width: 100%;
}

.card-title {
  margin: 0;
}

.card-content {
    /* Code goes here */
}

.card-content a {
  color: #e9d20f;
  font-size: 1.1em;
}