@import url('https://fonts.googleapis.com/css?family=Merriweather|Six+Caps');


// ========== Variables ========== //

/* Google Fonts */
$six-caps: 'Six Caps', sans-serif;
$merriweather: 'Merriweather', serif;

$ff-base: $merriweather;
$ff-alt: $six-caps;

$fs-base: 1rem;
$fs-h1: 3.75rem;
$fs-h2: 2.875rem;
$fs-h3: 2.25rem;
$fs-xl: 6rem;

// Colours
$black: #252525;
$yellow: #e9d20f;
$light-gray: #c2c2c2;
$dark-gray: #e8e8e8;
$white: #fff;


// ===== Mixins ===== //

@mixin font-base($font-size: $fs-base, $font-weight: 300, $color: $black) {
  font: {
    family: $ff-base;
    size: $font-size;
    weight: $font-weight;
  }
  color: $color;
} 

@mixin font-alt($font-size: $fs-base, $color: $black) {
  font: {
    family: $ff-alt;
    size: $font-size;
  }
  color: $color;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}


// ===== Styles ===== //

body {
  @include font-base;
  line-height: 1.6;
  
  display: grid;
  grid-template-rows: 10em 50vh auto 10em;
  grid-template-columns: 1fr minmax(30em, 5fr) minmax(15em, 2fr) 1fr;
  grid-template-areas:  "header header header header"
                        "hero hero hero hero"
                        ". main sidebar ."
                        "footer footer footer footer";
   grid-column-gap: 1.5em;
}

header{
    grid-area: header;
}

header, footer{
    background: $black;
    color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title,
.footer-title{
    @include font-alt($color: $yellow, $font-size: $fs-h1 );
}

.hero{
    grid-area: hero;
    background: url('../img/gridarea-hero-bg.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title{
    @include font-alt($fs-xl);
    margin: 0;
}

.hero-subtitle {
    @include font-base($color: $white, $font-size: $fs-h2);
    margin: 0;
  }

main{
    grid-area: main;
}

aside{
    grid-area: sidebar;
    background-color: $dark-gray;
    padding: 2em;
}

footer{
    grid-area: footer;
}

// Cards

.card{
    display: grid;

    // "long-hand"
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content auto;
    grid-template-areas:    "img title"
                            "img content";
    /* Shorthand:
    grid-template:
    "img title" min-content
    "img content" auto / 1fr 3fr;
    */
    box-shadow: 0 0 1em rgba(0, 0,0,.5);
    padding: 1em;
	margin-bottom: 1.5em;    
}

.card-img{
    grid-area: img;
    max-width: 100%;
}

.card-title{
    margin: 0;
    grid-area: title;
}

.card-content{
    grid-area: content;
    a{
        color: $yellow;
        font-size: 1.1em;
    }
}